{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<h1>Вход</h1>
<form method="post">
    <label for="username">Логин:</label><br />
    <input type="username" id="username" name="username" required /><br />
    <label for="password">Пароль:</label><br />
    <input type="password" id="password" name="password" required /><br />
    <button type="submit">Войти</button>
</form>
<p>Нет аккаунта? <a href="{{ url_for('auth.register') }}">Зарегистрируйтесь</a></p>
{% endblock %}
